body {
  background: #FFFFFF;
}

* a {
  text-decoration: none;
  color: black;
}
* a svg {
  width: 8%;
}
* a svg:hover {
  fill: rgb(81, 79, 79);
  width: 10%;
  transition: 0.5s ease-in-out;
}
* .logo {
  width: auto;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  margin: 1% 5% 3% 5%;
  padding: 0 1% 0 1%;
  width: 90%;
  height: 10%;
  overflow: hidden;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  
  color: #111111;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.menu .nav-bar li {
  list-style: none;
}
.menu .nav-bar li a:hover {
  color: rgb(81, 79, 79);
  transition: 1s ease-in-out;
}

.heading-container {
  margin: 1% 5% 3% 5%;
  padding: 0 1% 0 1%;
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.heading-container .title {
  width: 50%;
  height: 20%;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 120%;
  line-height: 200%;
  
  color: #111111;
}
.heading-container .title span, .heading-container .title p {
  color: #4A4FF2;
}
.heading-container .quote {
  width: auto;
  height: 5%;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 120%;
  line-height: 200%;
  
  color: #111111;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading-container .quote .line {
  align-self: flex-start;
}

.projects-container {
  margin: 1% 5% 3% 5%;
  padding: 0 1% 0 1%;
  width: 90%;
  height: 10%;
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 0.5em;
}
.projects-container .grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 0.5em;
}
.projects-container .grid img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.group-container {
  margin: 1% 5% 3% 5%;
  padding: 0 1% 0 1%;
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
.group-container .text {
  width: 50%;
  height: auto;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 150%;
  line-height: 1.5em;
  color: #111111;
}
.group-container .services {
  width: 35%;
  height: auto;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 120%;
  line-height: 1.5em;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-container .services .services-box {
  display: flex;
  flex-direction: column;
}
.group-container .services .services-box a:hover {
  color: rgb(11, 91, 241);
}

.awards-conatainer {
  margin: 1% 5% 3% 5%;
  padding: 0 1% 0 1%;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.awards-conatainer h3 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #111111;
}
.awards-conatainer h4 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
}
.awards-conatainer h5 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}
.awards-conatainer p {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.awards-conatainer .year {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #111111;
}
.awards-conatainer .award-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.awards-conatainer .awards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}
.awards-conatainer .design-awards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}
.awards-conatainer .divider {
  width: 100%;
}

footer {
  margin: 1% 5% 3% 5%;
  padding: 0 1% 0 1%;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .quick-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
}
footer .quick-links .nav-links {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  
  color: #111111;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
footer .quick-links .nav-links a:hover {
  color: rgb(81, 79, 79);
}
footer .quick-links .social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}/*# sourceMappingURL=main.css.map */